<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Annotation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/vendors/apexcharts/apexcharts.css"></script>
    <script src="/static/vendors/apexcharts/apexcharts.min.js"></script>
    <script defer type="module" src="/static/js/chart.js"></script>
  </head>
  <body class="">
    <section class="w-full">
      <!-- bar -->
      <div class="p-3 text-white flex justify-between items-center bg-gray-800 text-xl">
        <a href="/" class="px-3 py-1.5 hover:bg-gray-700 rounded-md duration-150">返回</a>
        <!-- 上傳檔案 -->
        <div>
          <form>
            <label for="fileInput">上傳檔案</label>
            <input type="file" id="fileInput" class="bg-gray-700 p-1 rounded-md" />
            <button type="button" id="uploadButton" class="px-3 py-1.5 hover:bg-gray-700 rounded-md duration-150">上傳</button>
          </form>
        </div>
      </div>
      <div id="chart"></div>
    </section>
  </body>
</html>
