<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <script src="static/vendors/tailwindcss/tailwindcss3.4.5"></script>
    <script src="static/vendors/jquery/jquery-3.7.1.js"></script>
    <script src="static/vendors/sheetjs/xlsx.full.min.js"></script>
    <script src="static/vendors/sweetalert2/sweetalert2@11.js"></script>
    <script src="static/vendors/apexcharts/apexcharts.css"></script>
    <script src="static/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="static/js/layout.js"></script>
  </head>
  {% block body %}{% endblock %}
  {% block script %}{% endblock %}
</html>
